In [11]:
# train_model.py
import numpy as np
import pandas as pd
import pickle
from sklearn.linear_model import LinearRegression

# Sample data for fitting a simple linear regression model
X_sample = np.random.rand(100, 13) * 100 + 1  # Add 1 to avoid log(0)
y_sample = np.dot(X_sample, np.array([50, 200, 300, 0.8, 1.2, 2.1, -0.5, 1.1, 0.7, -150, 0.5, 100, 200])) + 10000

pd.DataFrame(X_sample, columns=['Year', 'Month', 'Nationality', 'Economy_Ticket_Price', 'Business_Ticket_Price', 'Bookings_Last_3_Months', 'Bookings_Last_2_Months', 'Bookings_Last_Month', 'Searches', 'arrivals_air', 'arrivals_land', 'arrivals_sea', 'healthy_gdp'])

,Year,Month,Nationality,Economy_Ticket_Price,Business_Ticket_Price,Bookings_Last_3_Months,Bookings_Last_2_Months,Bookings_Last_Month,Searches,arrivals_air,arrivals_land,arrivals_sea,healthy_gdp
0,12.281397,86.364322,48.853430,33.302539,55.160509,50.006691,20.682601,1.097213,55.103897,64.570616,47.143981,49.184915,39.039400
1,75.107914,31.602020,39.325416,36.274333,3.186890,71.166709,63.611600,53.478359,19.128456,30.790528,12.688894,59.359978,93.330862
2,75.725685,91.707167,63.839016,42.626544,27.920006,4.498028,3.994225,65.217853,81.929481,90.882626,41.708634,75.033781,86.621181
3,51.629374,69.935867,66.183419,100.818691,20.185517,35.244019,58.836846,44.225733,74.758439,52.666764,86.683245,58.248936,98.683327
4,34.125652,50.130361,13.327825,20.549201,99.896076,12.985467,49.621241,90.063440,50.068804,79.712526,77.722310,99.512442,21.648695
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,94.905484,41.641558,83.232853,91.425705,69.199839,2.459821,72.027185,69.810367,72.542350,88.522472,65.846137,9.059239,11.312535
96,96.382783,27.848267,18.206838,10.418666,61.857433,78.076169,44.188301,26.592017,28.042255,50.974860,98.911593,71.652732,42.018196
97,45.140728,67.958687,84.938161,91.689579,31.120506,37.641772,7.840411,85.144600,36.129189,72.048301,46.399095,8.053931,84.396231
98,41.745226,53.420394,51.444504,45.447116,27.013001,81.729481,97.586281,24.372864,16.335649,98.334137,55.200535,52.116889,34.805240
99,84.092109,22.386383,85.671621,39.979435,97.181877,87.949510,13.464048,28.701249,83.799523,3.626307,79.959261,72.409169,66.595648

In [8]:
data = {
        'Year': [current_year],
        'Month': [current_month],
        'Nationality': [encoded_nationality],
        'Economy_Ticket_Price': [economy_ticket_price],
        'Business_Ticket_Price': [business_ticket_price],
        'Bookings_Last_3_Months': [bookings_last_3_months],
        'Bookings_Last_2_Months': [bookings_last_2_months],
        'Bookings_Last_Month': [bookings_last_month],
        'Searches':[searches],
        'arrivals_air':[arrivals_air],
        'arrivals_land':[arrivals_land],
        'arrivals_sea':[arrivals_sea],
        'healthy_gdp':[healthy_gdp]
        
    }
df = pd.DataFrame(data)

NameError: name 'current_year' is not defined